@media (max-width: 767px) {
  
  .product-list li {
    width: 47%;
  }
  .detail-set {
    display: block;
  }
  .SP-detail-text {
    text-align: center;
    margin-top: 30px;
  }
  .vagetable-name {
    font-size: 13px;
    font-weight: bold;
  }
  /* 購入履歴画面 */
  .history-date {
    font-size: 9px;
  }

  /* PC画面のみの表示クラスを消す */
  .PC-display {
    display: none;
  }

  .detail-count-button {
    justify-content: center;
    margin-left: 10px;
  }
}